<html>
<head></head>
<body>
    <div id = "nav">
        <a href="/posts">View All Posts</a>
        <a href="/posts/new">Add New Post</a>
        <form action="/logout" method="POST">
            <input type="hidden" name="account" value="{{username}}">
            <input type="submit" value="Log Out">
        </form>
    </div>

    
    {{#blog}}
    <h2>{{blogtitle}}</h2>
            <h4>Posted by: {{blogauthor}}</h4>
            <p>{{blogdate}}</p>
            <p>{{blogentry}}</p>
            {{/blog}}
         {{#result}}   
        <ul>
            <li>{{commententry}}</li>
        </ul>    
        {{/result}}
    <h1>Add Comment</h1>
    <form action="/addComment" method="POST">
        <input type="text" name="comment" placeholder="Enter comment">     
        <input type="hidden" name="blogid" value = "{{blog.blogid}}">   
        <input type="submit" value="Add Comment">
    </form>
   

</body>
</html>