<html>

<head>
    <link rel="stylesheet" type="text/css" href="site.css" />
</head>

<body>
    <h1>Welcome to The Blogsite!</h1>
    <h1>Please Login:</h1>
    <form action="/login" method="POST">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <input type="submit" value="Login">
    </form>

    <form action="/register" method="POST">
        <h1>New user? Please register:</h1>
        <input type="text" placeholder="New username" name="username">
        <input type="password" placeholder="New password" name="password">
        <input type="submit" value="Register">
    </form>

</body>

</html>